[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
google-generativeai = "*"
pillow = "*"
wget = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
